Web-App/style.css
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #2563eb;   /* Blue background */
}

.page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    padding: 20px;
    width: 360px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

h1 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #3b82f6;
    color: white;
    padding: 8px;
    font-size: 16px;
}

td {
    padding: 8px;
}

input {
    width: 100%;
    padding: 6px;
}

button {
    width: 100%;
    padding: 8px;
    background-color: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #1e40af;
}

.result-box {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-radius: 4px;
    background-color: #e5e7eb;
}
