Web-App/style.css

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1e3a8a;
  transition: background-color 0.5s ease;
}

.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #f3f4f6;
  padding: 25px;
  border-radius: 15px;
  width: 500px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.instruction-box {
  background-color: #fef3c7;
  border: 1px solid #fcd34d;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 15px;
}

button:hover {
  background-color: #1e40af;
}

.result-box {
  margin-top: 10px;
  padding: 20px;
  background-color: #e5e7eb;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  min-height: 80px;
  font-size: 18px;
}

.countdown-box {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #1f2937;
}

