* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    min-height: 100vh;
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    url("../images/college.jpg") no-repeat center center / cover;
    color: white;
}

/* Login */
.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: rgba(255,255,255,0.2);
    padding: 30px;
    width: 300px;
    border-radius: 15px;
    text-align: center;
}

.login-box h2 {
    color: #00ffff;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    border: none;
}

.login-box button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(45deg,#ff0080,#7928ca);
    color: white;
    cursor: pointer;
}

.error {
    color: yellow;
}

/* Dashboard */
header {
    background: rgba(0,0,0,0.7);
    padding: 20px;
    text-align: center;
}

.logout {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.container {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}

.card {
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    background: linear-gradient(135deg,#00c6ff,#0072ff);
    cursor: pointer;
    font-size: 18px;
}

.card:hover {
    background: linear-gradient(135deg,#ff512f,#dd2476);
    transform: scale(1.05);
}
