Web-App/style.css
body {
    font-family: Arial;
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
    color: #333;
}

button {
    padding: 6px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
}
